<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing</title>
  </head>
  <body>
    <div>
      <% if (typeof username !== 'undefined') { %>
      <div>
        <h2>Hola <%= username %>!</h2>
        <p>Estas en el panel de administraci贸n</p>
        <button id="close-session">Cerrar sesi贸n</button>
      </div>
      <% } %>
      <br />
      <% if (typeof username === 'undefined') { %>
      <div>
        <form id="login-form">
          <h2>Login</h2>
          <label>username</label>
          <input type="text" id="login-username" name="username" required />
          <label>password</label>
          <input type="text" id="login-password" name="password" required />
          <button type="submit">Login</button>
          <span>&nbsp;</span>
        </form>
      </div>
      <br />
      <div>
        <form id="register-form">
          <h2>Login</h2>
          <label>Register</label>
          <input type="text" id="register-username" name="username" required />
          <label>password</label>
          <input type="text" id="register-password" name="password" required />
          <label>confirm password</label>
          <input
            type="text"
            id="register-confirm-password"
            name="confirm-password"
            required
          />
          <button type="submit">Register</button>
          <span>&nbsp;</span>
          <br />
        </form>
      </div>
      <% } %>
    </div>
    <script>
      const $ = (el) => document.querySelector(el);

      const loginForm = $("#login-form");
      const loginSpan = $("#login-form span");
      const registerForm = $("#register-form");
      const registerSpan = $("#register-form span");
      const logoutButton = $("#close-session");

      loginForm?.addEventListener("submit", (e) => {
        e.preventDefault();
        const username = $("#login-username").value;
        const password = $("#login-password").value;
        fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username, password }),
        }).then((res) => {
          if (res.ok) {
            loginSpan.innerText = "Sesi贸n iniciada... Entrando ...";
            loginSpan.style.color = "green";
            setTimeout(() => {
              window.location.href = "/protected";
            }, 2000);
          } else {
            loginSpan.innerText = "Error al iniciar sesi贸n";
            loginSpan.style.color = "red";
          }
        });
      });

      registerForm?.addEventListener("submit", (e) => {
        e.preventDefault();
        const username = $("#register-username").value;
        const password = $("#register-password").value;
        const confirmPassword = $("#register-confirm-password").value;
        if ((password !== confirmPassword)) {
          alert("Passwords do not match");
          return;
        }

        fetch("/register", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username, password }),
        }).then((res) => {
          console.log(res);
          if (res.ok) {
            registerSpan.innerText = "Usuario registrado. Entrando ... ";
            registerSpan.style.color = "green";
            setTimeout(() => {
              window.location.href = "/protected";
            }, 2000);
          } else {
            registerSpan.innerText = "Error al registrar usuario";
            registerSpan.style.color = "red";
          }
        });
      });

      logoutButton?.addEventListener("click", (e) => {
        e.preventDefault();
        fetch("/logout", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        }).then((res) => {
          console.log(res);
          window.location.href = "/";
        });
      });
    </script>
  </body>
</html>
